<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="9">
    <metadata key="name" value="Montagem"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="18334"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="base"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="1436" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="logo1"/>
      <metadata key="matrix" value="1 0 0 0.13554763799999137 0 1 0 21.445409753674312 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1380" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="logo2"/>
      <metadata key="matrix" value="1 0 0 5.5323367100000098 0 1 0 31.665698999999989 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="588" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="logo3"/>
      <metadata key="matrix" value="1 0 0 0.34603810300001214 0 1 0 24.976644553674305 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="288" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="logo4"/>
      <metadata key="matrix" value="1 0 0 0.45429039000001126 0 1 0 34.058061553674321 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="5394" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="qrcode"/>
      <metadata key="matrix" value="1.125 0 0 0 0 1.1250000000000004 0 -18.712203324946216 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="4120" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="Texto Mesa"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 -47.748371107348632 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="2104" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="Texto Faca pedido"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 9.0926051184185894 0 0 1 -0.2500004768371582 0 0 0 1"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="3024" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1"/>
    <metadata key="filament_volume_maps" value="0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="9"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="1634485"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 588.86895886192042 63.611314942036458 0.40000009536743164" offset="0 0 0" />
  </assemble>
</config>
